* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /*  */
    background-color: #d46a37;
    /*  */
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

#mascot,
#header1 {
    display: block;
    transition: 500ms;
}

#mascot.hidden,
#header1.hidden {
    display: none;
}

h1 {
    margin-top: 4rem;
    font-size: 3.6rem;
}

#ladang {
    width: 150vw;
    position: absolute;
    top: 75%;
    left: -25%;
    z-index: 1;
}

.masjid {
    position: absolute;
    width: 100vw;
    height: auto;
    bottom: 4rem;
}

.kiri {
    left: -80%;
}

.kanan {
    right: -80%;
}

div#mascot {
    width: 5rem;
    height: 8rem;
    margin: 30vh auto 0;
    /*  */
    background-color: #00000014;
    /*  */
    transition: 300ms;
}

div#mascot:hover {
    background-color: #0000007b;
    cursor: pointer;
}

#page2 {
    display: none;
}

#page2.display {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}

#page2.display.clicked {
    filter: blur(14px);
    backdrop-filter: blur(14px);
}

#page2.display.clicked #cabang .cards:hover {
    transform: translateY(0);
    box-shadow: none;
    cursor: default;
}

#page2.display.clicked #cabang .cards:hover::after {
    opacity: .4;
}

#cabang {
    width: 60%;
    min-height: 20%;
    margin: 20vh auto 0;
    padding: .5rem;
    /*  */
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    /*  */
    background-color: #50505074;
    /*  */
    z-index: 4;
}

.cards {
    width: 156px;
    height: 156px;
    background-color: #00000014;
    margin: .5rem;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 100ms;
    position: relative;
    /*  */
    display: flex;
    justify-content: center;
}

.cards:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 10px 0 #00000080;
    cursor: pointer;
}

.cards:hover::after {
    opacity: .7;
}

.cards.clicked {
    transform: translateY(-2px);
}

.akustik {
    background-image: url(./images/akustik.png);
}

.akustik::after {
    width: 100%;
    height: 20%;
    content: "Akustik";
    background-color: black;
    color: white;
    opacity: .4;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
    position: absolute;
    bottom: 0px;
    /*  */
    font-family: Arial, Helvetica, sans-serif;
    /*  */
    transition: 150ms;
}

.cci {
    background-image: url(./images/cci.png);
}

.cci::after {
    width: 100%;
    height: 20%;
    content: "Cerdas Cermat";
    background-color: black;
    color: white;
    opacity: .4;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
    position: absolute;
    bottom: 0px;
    /*  */
    font-family: Arial, Helvetica, sans-serif;
    /*  */
    transition: 150ms;
}

.cipcer {
    background-image: url(./images/cipcer.png);
}

.cipcer::after {
    width: 100%;
    height: 20%;
    content: "Cipta Cerita";
    background-color: black;
    color: white;
    opacity: .4;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
    position: absolute;
    bottom: 0px;
    /*  */
    font-family: Arial, Helvetica, sans-serif;
    /*  */
    transition: 150ms;
}

.dai {
    background-image: url(./images/dai.png);
}

.dai::after {
    width: 100%;
    height: 20%;
    content: "Dai Muda";
    background-color: black;
    color: white;
    opacity: .4;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
    position: absolute;
    bottom: 0px;
    /*  */
    font-family: Arial, Helvetica, sans-serif;
    /*  */
    transition: 150ms;
}

.fashion {
    background-image: url(./images/fashion.png);
}

.fashion::after {
    width: 100%;
    height: 20%;
    content: "Fashion Islami";
    background-color: black;
    color: white;
    opacity: .4;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
    position: absolute;
    bottom: 0px;
    /*  */
    font-family: Arial, Helvetica, sans-serif;
    /*  */
    transition: 150ms;
}

.kaligrafi {
    background-image: url(./images/kaligrafi.png);
}

.kaligrafi::after {
    width: 100%;
    height: 20%;
    content: "Kaligrafi";
    background-color: black;
    color: white;
    opacity: .4;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
    position: absolute;
    bottom: 0px;
    /*  */
    font-family: Arial, Helvetica, sans-serif;
    /*  */
    transition: 150ms;
}

.mhq {
    background-image: url(./images/mhq.png);
}

.mhq::after {
    width: 100%;
    height: 20%;
    content: "MHQ";
    background-color: black;
    color: white;
    opacity: .4;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
    position: absolute;
    bottom: 0px;
    /*  */
    font-family: Arial, Helvetica, sans-serif;
    /*  */
    transition: 150ms;
}

.mtq {
    background-image: url(./images/mtq.png);
}

.mtq::after {
    width: 100%;
    height: 20%;
    content: "MTQ";
    background-color: black;
    color: white;
    opacity: .4;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
    position: absolute;
    bottom: 0px;
    /*  */
    font-family: Arial, Helvetica, sans-serif;
    /*  */
    transition: 150ms;
}

.poster {
    background-image: url(./images/poster.png);
}

.poster::after {
    width: 100%;
    height: 20%;
    content: "Poster Digital";
    background-color: black;
    color: white;
    opacity: .4;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
    position: absolute;
    bottom: 0px;
    /*  */
    font-family: Arial, Helvetica, sans-serif;
    /*  */
    transition: 150ms;
}

.puisi {
    background-image: url(./images/puisi.png);
}

.puisi::after {
    width: 100%;
    height: 20%;
    content: "Puisi";
    background-color: black;
    color: white;
    opacity: .4;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
    position: absolute;
    bottom: 0px;
    /*  */
    font-family: Arial, Helvetica, sans-serif;
    /*  */
    transition: 150ms;
}

.board {
    width: 100vw;
    min-height: 100vh;
    padding: 2.5rem;
    /*  */
    background-color: transparent;
    /*  */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    opacity: 0;
    /*  */
    display: none;
}

.board#akustik.displayed,
.board#cci.displayed,
.board#cipcer.displayed,
.board#dai.displayed,
.board#fashion.displayed,
.board#kaligrafi.displayed,
.board#mhq.displayed,
.board#mtq.displayed,
.board#poster.displayed,
.board#puisi.displayed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*  */
    opacity: 1;
    /* display: none; */
}

div#mascot2 {
    width: 500px;
    min-height: 600px;
    margin: 0 auto;
    /*  */
    background-color: aquamarine;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
}

section#data {
    width: 40%;
    min-height: 90vh;
    background-color: bisque;
    /*  */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    /*  */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

section#data p {
    margin-top: .7rem;
    /*  */
    font-size: .9rem;
}

section#data img {
    width: 212px;
    height: 212px;
    margin-bottom: 1rem;
}

.juara {
    flex: 1 0 50%;
}

button#back {
    position: fixed;
    top: 2rem;
    left: 2rem;
    /*  */
    background-color: transparent;
    outline: none;
    border: none;
    color: rgba(255, 255, 255, 0.675);
    opacity: 1;
    /*  */
    display: block;
    /*  */
    z-index: 7;
    cursor: pointer;
}