* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /*  */
    background-color: #d46a37;
    /*  */
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    /*  */
    text-align: center;
}

#mascot,
#header1 {
    display: block;
    transition: 500ms;
}

#mascot.hidden,
#header1.hidden {
    display: none;
}

h1 {
    margin-top: 4rem;
    font-size: 5vw;
}

@media (max-width:900px) {
    h1 {
        font-size: 5vw;
    }
}

@media (max-width:600px) {
    h1 {
        font-size: 8vw;
    }
}

#ladang {
    width: 150vw;
    position: absolute;
    top: 75%;
    left: -25%;
    z-index: 1;
}

.masjid {
    position: absolute;
    width: 100vw;
    height: auto;
    bottom: 20%;
}

@media (min-width:820px) {
    .masjid {
        bottom: 4rem;
    }
}

.kiri {
    left: -80%;
}

.kanan {
    right: -80%;
}

div#mascot {
    width: 8rem;
    height: 11rem;
    margin: 30vh auto 0;
    border-radius: 8px;
    /*  */
    background-color: #00000014;
    background-image: url(./images/logo.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*  */
    transition: 300ms;
    z-index: 9;
    /*  */
    position: relative;
}

div#mascot::before {
    content: '↓ Klik disini ↓';
    position: absolute;
    left: 10%;
    top: -34px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

div#mascot:hover {
    background-color: #0000007b;
    cursor: pointer;
    transform: translateY(-10px);
}

#page2 {
    display: none;
}

#page2.display {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}

#page2.display.clicked {
    filter: blur(14px);
    backdrop-filter: blur(14px);
}

#page2.display.clicked #cabang .cards:hover {
    transform: translateY(0);
    box-shadow: none;
    cursor: default;
}

#page2.display.clicked #cabang .cards:hover::after {
    opacity: .4;
}

#cabang {
    width: 60%;
    height: 25vw;
    margin: 20vh auto 0;
    padding: .5rem;
    /*  */
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    /*  */
    background-color: #50505074;
    /*  */
    z-index: 4;
}

@media (max-width:900px) {
    #cabang {
        min-height: 60vh;
        margin: 10vh auto 0;
        width: 50%;
    }
}

@media (max-width:700px) {
    #cabang {
        height: 55vw;
        margin: 10vh auto 0;
        width: 60%;
    }
}

.cards {
    width: calc(20% - 25px);
    max-height: 156px;
    background-color: #00000014;
    margin: .5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: 100ms;
    position: relative;
    /*  */
    /* flex: 0 0 20%; */
    display: flex;
    justify-content: center;
}

@media (max-width:1256px) {
    .cards {
        height: 10vw;
    }
}

@media (max-width:900px) {
    .cards {
        width: calc(35% - 25px);
        height: 12vh;
    }
}

@media (max-width:700px) {
    .cards {
        width: calc(35% - 25px);
        height: 12vh;
    }
    .cards::after {
        font-size: 1.5vw;
    }
    .fashion::after {
        font-size: 1.3vw;
    }
    .cci::after {
        font-size: 1.3vw;
    }
}

.cards:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 10px 0 #00000080;
    cursor: pointer;
}

.cards:hover::after {
    opacity: .7;
}

.cards::after {
    font-size: 1.4vw
}

.cards.clicked {
    transform: translateY(-2px);
}

.akustik {
    background-image: url(./images/akustik.png);
}

.akustik::after {
    width: 100%;
    height: 20%;
    content: "Akustik";
    background-color: black;
    color: white;
    opacity: .4;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
    position: absolute;
    bottom: 0px;
    /*  */
    font-family: Arial, Helvetica, sans-serif;
    /*  */
    transition: 150ms;
}

.cci {
    background-image: url(./images/cci.png);
}

.cci::after {
    width: 100%;
    height: 20%;
    content: "Cerdas Cermat";
    background-color: black;
    color: white;
    opacity: .4;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
    position: absolute;
    bottom: 0px;
    /*  */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    /*  */
    transition: 150ms;
}

.cipcer {
    background-image: url(./images/cipcer.png);
}

.cipcer::after {
    width: 100%;
    height: 20%;
    content: "Cipta Cerita";
    background-color: black;
    color: white;
    opacity: .4;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
    position: absolute;
    bottom: 0px;
    /*  */
    font-family: Arial, Helvetica, sans-serif;
    /*  */
    transition: 150ms;
}

.dai {
    background-image: url(./images/dai.png);
}

.dai::after {
    width: 100%;
    height: 20%;
    content: "Dai Muda";
    background-color: black;
    color: white;
    opacity: .4;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
    position: absolute;
    bottom: 0px;
    /*  */
    font-family: Arial, Helvetica, sans-serif;
    /*  */
    transition: 150ms;
}

.fashion {
    background-image: url(./images/fashion.png);
}

.fashion::after {
    width: 100%;
    height: 20%;
    content: "Fashion Islami";
    background-color: black;
    color: white;
    opacity: .4;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
    position: absolute;
    bottom: 0px;
    /*  */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    /*  */
    transition: 150ms;
}

.kaligrafi {
    background-image: url(./images/kaligrafi.png);
}

.kaligrafi::after {
    width: 100%;
    height: 20%;
    content: "Kaligrafi";
    background-color: black;
    color: white;
    opacity: .4;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
    position: absolute;
    bottom: 0px;
    /*  */
    font-family: Arial, Helvetica, sans-serif;
    /*  */
    transition: 150ms;
}

.mhq {
    background-image: url(./images/mhq.png);
}

.mhq::after {
    width: 100%;
    height: 20%;
    content: "MHQ";
    background-color: black;
    color: white;
    opacity: .4;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
    position: absolute;
    bottom: 0px;
    /*  */
    font-family: Arial, Helvetica, sans-serif;
    /*  */
    transition: 150ms;
}

.mtq {
    background-image: url(./images/mtq.png);
}

.mtq::after {
    width: 100%;
    height: 20%;
    content: "MTQ";
    background-color: black;
    color: white;
    opacity: .4;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
    position: absolute;
    bottom: 0px;
    /*  */
    font-family: Arial, Helvetica, sans-serif;
    /*  */
    transition: 150ms;
}

.poster {
    background-image: url(./images/poster.png);
}

.poster::after {
    width: 100%;
    height: 20%;
    content: "Poster Digital";
    background-color: black;
    color: white;
    opacity: .4;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
    position: absolute;
    bottom: 0px;
    /*  */
    font-family: Arial, Helvetica, sans-serif;
    /*  */
    transition: 150ms;
}

.puisi {
    background-image: url(./images/puisi.png);
}

.puisi::after {
    width: 100%;
    height: 20%;
    content: "Puisi";
    background-color: black;
    color: white;
    opacity: .4;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
    position: absolute;
    bottom: 0px;
    /*  */
    font-family: Arial, Helvetica, sans-serif;
    /*  */
    transition: 150ms;
}

.board {
    width: 100vw;
    min-height: 100vh;
    padding: 2.5rem;
    /*  */
    background-color: transparent;
    /*  */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    opacity: 0;
    /*  */
    display: none;
}

.board#akustik.displayed,
.board#cci.displayed,
.board#cipcer.displayed,
.board#dai.displayed,
.board#fashion.displayed,
.board#kaligrafi.displayed,
.board#mhq.displayed,
.board#mtq.displayed,
.board#poster.displayed,
.board#puisi.displayed {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /*  */
    opacity: 1;
    /* display: none; */
}

div#mascot2 {
    min-height: 600px;
    margin: 0 3rem;
    /*  */
    background-color: transparent;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 2 500px;
}

section#data {
    min-height: 600px;
    max-height: 80vw;
    background-color: rgba(229, 229, 229, 0.9);
    padding: 1.5rem;
    /*  */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    /*  */
    flex: 0 1 45vw;
    /*  */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

section#data p {
    margin-top: .7rem;
    /*  */
    font-size: .9rem;
}

section#data img {
    width: 12vw;
    height: 12vw;
    margin-bottom: 1rem;
}

section#data div.favorite img {
    width: 15vw;
    height: 8vw;
    margin-bottom: 1rem;
}

@media (max-width:940px) {
    section#data {
        flex: 0 1 60vw;
    }
    section#data img {
        width: 17vw;
        height: 17vw;
    }
    section#data div.favorite img {
        width: 16vw;
        height: 9vw;
    }
    div#fashion section#data,
    div#poster section#data {
        flex: 0 1 82vw;
    }
    div#fashion .juara,
    div#poster .juara {
        flex: 1 0 50%;
    }
}

@media (max-width:902px) {
    div#mascot2 {
        display: none;
    }
    .board#akustik.displayed,
    .board#cci.displayed,
    .board#cipcer.displayed,
    .board#dai.displayed,
    .board#fashion.displayed,
    .board#kaligrafi.displayed,
    .board#mhq.displayed,
    .board#mtq.displayed,
    .board#poster.displayed,
    .board#puisi.displayed {
        justify-content: center;
    }
}

@media (max-width:750px) {
    section#data img {
        width: 21vw;
        height: 21vw;
    }
    section#data p {
        font-size: .8rem;
    }
    section#data div.favorite img {
        width: 20vw;
        height: 11vw;
    }
    section#data div.favorite p {
        font-size: .9rem;
    }
    #poster section#data div.favorite p {
        font-size: .7rem;
    }
    #poster section#data div.favorite h3 {
        font-size: .9rem;
    }
}

.juara {
    flex: 1 0 50%;
    margin-bottom: 2rem;
}

@media (max-width:500px) {
    section#data img {
        width: 14vw;
        height: 14vw;
    }
    .juara {
        flex: 1 0 51%;
    }
    section#data p {
        font-size: .7rem;
    }
    #fashion #data img,
    #poster #data img {
        width: 19vw;
        height: 19vw;
    }
    #data #favorite img {
        width: 20vw;
        height: 11vw;
    }
}

@media (max-width:380px) {
    section#data img {
        width: 24vw;
        height: 24vw;
    }
}

button#back {
    position: fixed;
    top: 2rem;
    left: 2rem;
    /*  */
    background-color: transparent;
    outline: none;
    border: none;
    color: rgba(255, 255, 255, 0.675);
    opacity: 1;
    /*  */
    display: block;
    /*  */
    z-index: 7;
    cursor: pointer;
}

@media (max-width:550px) {
    #cabang {
        height: 80vw;
        margin: 10vh auto 0;
        width: 80%;
    }
    .cards {
        width: calc(34% - 25px);
        height: 12vh;
    }
    .cards::after {
        font-size: 2vw;
    }
    .fashion::after {
        font-size: 1.8vw;
    }
    .cci::after {
        font-size: 1.8vw;
    }
}

@media (max-width:400px) {
    #cabang {
        height: 120vw;
        margin: 10vh auto 0;
        width: 80%;
    }
    .cards {
        width: calc(35% - 25px);
        height: 25vw;
    }
    .cards::after {
        font-size: 2.4vw;
    }
    .fashion::after {
        font-size: 2.4vw;
    }
    .cci::after {
        font-size: 2.4vw;
    }
}