* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /*  */
    background-color: #d46a37;
    /*  */
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

#mascot,
#header1 {
    display: block;
    transition: 500ms;
}

#mascot.hidden,
#header1.hidden {
    display: none;
}

h1 {
    margin-top: 4rem;
    font-size: 3.6rem;
}

#ladang {
    width: 150vw;
    position: absolute;
    top: 75%;
    left: -25%;
    z-index: 2;
}

.masjid {
    position: absolute;
    width: 100vw;
    height: auto;
    bottom: 4rem;
}

.kiri {
    left: -80%;
}

.kanan {
    right: -80%;
}

div#mascot {
    width: 5rem;
    height: 8rem;
    margin: 30vh auto 0;
    /*  */
    background-color: #00000014;
    /*  */
    transition: 300ms;
}

div#mascot:hover {
    background-color: #0000007b;
    cursor: pointer;
}